In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sqlalchemy import create_engine

In [2]:
db_config = {
    'user': 'praktikum_student',
    'pwd': 'Sdf4$2;d-d30pp', 
    'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
    'port': 6432,
    'db': 'data-science-vehicle-db'
} 

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(
    db_config['user'],
    db_config['pwd'],
    db_config['host'],
    db_config['port'],
    db_config['db']
)

engine = create_engine(connection_string)

In [14]:
query_collision_df = '''
    select *
    from collisions
'''

query_parties_df = '''
    select *
    from parties
'''

query_vehicles_df = '''
    select *
    from vehicles
'''

In [ ]:
collision_df = pd.read_sql_query(query_collision_df, con=engine)

In [10]:
parties_df = pd.read_sql_query(query_parties_df, con=engine)

In [15]:
vehicles_df = pd.read_sql_query(query_vehicles_df, con=engine)

In [5]:
display(collision_df.head())

,case_id,county_city_location,county_location,distance,direction,intersection,weather_1,location_type,collision_damage,party_count,primary_collision_factor,pcf_violation_category,type_of_collision,motor_vehicle_involved_with,road_surface,road_condition_1,lighting,control_device,collision_date,collision_time
0,4083072,1942,los angeles,528.0,north,0.0,cloudy,highway,small damage,2,vehicle code violation,unsafe lane change,sideswipe,other motor vehicle,wet,normal,daylight,none,2009-01-22,07:25:00
1,4083075,4313,santa clara,0.0,None,1.0,clear,None,small damage,1,vehicle code violation,improper passing,hit object,fixed object,dry,normal,dark with street lights,functioning,2009-01-03,02:26:00
2,4083073,0109,alameda,0.0,None,1.0,clear,None,scratch,2,vehicle code violation,improper turning,broadside,other motor vehicle,dry,normal,dark with street lights,functioning,2009-01-11,03:32:00
3,4083077,0109,alameda,0.0,None,1.0,clear,None,scratch,2,vehicle code violation,automobile right of way,broadside,other motor vehicle,dry,normal,daylight,functioning,2009-01-11,10:35:00
4,4083087,4313,santa clara,0.0,None,1.0,clear,None,scratch,2,vehicle code violation,speeding,rear end,other motor vehicle,dry,None,dark with street lights,functioning,2009-01-02,22:43:00

In [6]:
collision_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400000 entries, 0 to 1399999
Data columns (total 20 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   case_id                      1400000 non-null  object
 1   county_city_location         1400000 non-null  object
 2   county_location              1400000 non-null  object
 3   distance                     1400000 non-null  float64
 4   direction                    1059358 non-null  object
 5   intersection                 1387781 non-null  float64
 6   weather_1                    1392741 non-null  object
 7   location_type                518779 non-null   object
 8   collision_damage             1400000 non-null  object
 9   party_count                  1400000 non-null  int64
 10  primary_collision_factor     1391834 non-null  object
 11  pcf_violation_category       1372046 non-null  object
 12  type_of_collision            1388176 non-null  object
 13  motor_vehicle_involved_with  1393181 non-null  object
 14  road_surface                 1386907 non-null  object
 15  road_condition_1             1388012 non-null  object
 16  lighting                     1391407 non-null  object
 17  control_device               1391593 non-null  object
 18  collision_date               1400000 non-null  object
 19  collision_time               1387692 non-null  object
dtypes: float64(2), int64(1), object(17)
memory usage: 213.6+ MB

In [11]:
display(parties_df.head())

,id,case_id,party_number,party_type,at_fault,insurance_premium,party_sobriety,party_drug_physical,cellphone_in_use
0,22,3899454,1,road signs,1,29.0,had not been drinking,None,0.0
1,23,3899454,2,road signs,0,7.0,had not been drinking,None,0.0
2,29,3899462,2,car,0,21.0,had not been drinking,None,0.0
3,31,3899465,2,road signs,0,24.0,had not been drinking,None,0.0
4,41,3899478,2,road bumper,0,NaN,not applicable,not applicable,0.0

In [12]:
parties_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2752408 entries, 0 to 2752407
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   case_id              object
 2   party_number         int64
 3   party_type           object
 4   at_fault             int64
 5   insurance_premium    float64
 6   party_sobriety       object
 7   party_drug_physical  object
 8   cellphone_in_use     float64
dtypes: float64(2), int64(3), object(4)
memory usage: 189.0+ MB

In [16]:
display(vehicles_df.head())

,id,case_id,party_number,vehicle_type,vehicle_transmission,vehicle_age
0,1175713,5305032,2,sedan,manual,3.0
1,1,3858022,1,sedan,auto,3.0
2,1175712,5305030,1,sedan,auto,3.0
3,1175717,5305033,3,sedan,auto,5.0
4,1175722,5305034,2,sedan,auto,5.0

In [17]:
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1021234 entries, 0 to 1021233
Data columns (total 6 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1021234 non-null  int64
 1   case_id               1021234 non-null  object
 2   party_number          1021234 non-null  int64
 3   vehicle_type          1021234 non-null  object
 4   vehicle_transmission  997575 non-null   object
 5   vehicle_age           996652 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 46.7+ MB

In [28]:
collision_df.head()
collision_df.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1400000 entries, 0 to 1399999
Series name: case_id
Non-Null Count    Dtype
--------------    -----
1400000 non-null  int64
dtypes: int64(1)
memory usage: 10.7 MB

## Предобработка

In [27]:
collision_df.case_id = collision_df.case_id.astype('int')

AttributeError: 'Series' object has no attribute 'case_id'